body {
    margin:0;
  }

  h1 {
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-weight:400;
    letter-spacing: 2px;
    font-size: 48px;
    text-shadow: 2px 2px #000000;
  }

  h2 {
    font-family: 'Press Start 2P', cursive;
    font-weight:400;
    letter-spacing: 2px;
    font-size: 36px;
  }

  p, h3, h4, h5 {
    font-family: 'Space Grotesk', sans-serif;
  }

  .navbar {
    position:relative;
    width: 100%;
    background-color:#1E1E1E;
    background-size: cover;
    z-index: 3;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }
  .navbar-brand img {
    justify-content: right;
    margin: 2%;
  }

  .nav-item {
    margin: 0px 20px;
    justify-content: center;
  }
 
.nav-link {
    color: #f2f2f2;
}

.nav-link:hover {
    color: #CE5C34;
  }

  .customNav a {
    color: white;
  }

.about {
    width: 100%;
    display: flex;
    background-color:#CE5C34;
    background-size: cover;
}


  .containertext {
    margin: 5%;
  }

  .containerimage {
    margin: 5%;
  }

  .btn {
    height: 40px;
    width: 140px;
    text-shadow: 4px; 
    margin: 3%;
    border: 1px solid black;
    background-color: #51936a;
    color: black;
}

.gameTypes  {
  background-color: #E7DCCE;
  padding: 5%;
}

.prizes {
  background-color: #DEB47E;
  padding: 5%; 
}

.rowCards {
  justify-items: flex-start;
  display: flex;
  padding-top: 40px;
}

.card {
  justify-items: center;
  max-width: 384px;
  border: 2px solid black;
}

.cardBody {
  padding: 20px;
  background-color: #D9D9D9;
}

.btn:hover {
background-color: #52CA7F;
border: 1px solid black;
}

.form {
  background-color: #406B7D;
  font-family: 'Space Grotesk', sans-serif;
  padding: 60px;
  justify-content: center;
}

.involvedHeading {
  color: white;
  text-shadow: 2px 2px #000000;
}

.formH2 {
  color: black;
}

.lable {
  color: white
}

footer {
  background-size: cover;
  width: 100%;
  color: white;
  position:relative;
  width: 100%;
  background-color: #1E1E1E;
  }

.socialMedia {
  margin: 2%;
  display: flex;
  width: 100%;
  flex-direction:row;
  justify-content: left;
    }

.socialMedia > img {
    padding: 15px;
}

.copyright {
  margin-top: 5%;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: right;
}
    
.copyright > p {
  margin-right: 5%;
}


@media (max-width: 900px) {
  .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: auto;
  }
  

  .rowCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
  margin: 5%;
  }

.cardContainer {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 95%;
margin: 3%;
}};

  