body {
    margin:0;
  }

  h1 {
    font-family: 'Press Start 2P', cursive;
    font-weight:400;
    letter-spacing: 2px;
    font-size: 48px;
  }

  h2 {
    font-family: 'Press Start 2P', cursive;
    font-weight:400;
    letter-spacing: 2px;
    font-size: 36px;
  }

  p, h3, h4, h5 {
    font-family: 'Space Grotesk', sans-serif;
  }

  .navbar {
    position:fixed;
    width: 100%;
    background-color:#1E1E1E;
    background-size: cover;
    z-index: 3;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }
  .navbar-brand img {
    justify-content: right;
    margin: 2%;
  }

  .nav-item {
    margin: 0px 20px;
    justify-content: center;
  }
 
.nav-link {
    color: #f2f2f2;
}

.nav-link:hover {
    color: #CE5C34;
  }

  .customNav a {
    color: white;
  }

.about {
    height: calc(100vh - 25px);
    width: 100%;
    display: flex;
    background-color:#CE5C34;
    background-size: cover;
}

.jumbotron {
    background-size: cover;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .jumboCopy {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: white;
    text-align: center;
  }

  .btn {
    height: 40px;
    width: 140px;
    text-shadow: 4px; 
    margin: 3%;
    border: 1px solid #f2f2f2;
}

.btn:hover {

}


@media (max-width: 960px) {
 
    }
  