body {
    margin:0;
  }

  .navbar {
    position:fixed;
    width: 100%;
    background-color:#1E1E1E;
    background-size: cover;
    z-index: 3;
}

.menuItem {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: center;
    }
    
    .menuItem > p {
    padding: 15px;
    }

.about {
    position:relative;
    width: 100%;
    background-color:#CE5C34;
    background-size: cover;
}



@media (max-width: 960px) {
 
    }
  